In [4]:
name = "AI engineer kashi Bhattarai"
print(name.title())

Ai Engineer Kashi Bhattarai

In [5]:
print(name.upper())

AI ENGINEER KASHI BHATTARAI

In [7]:
var1 = "kashi bhattari is successfull person"
print(var1)
print(var1.title())
print(var1.upper())
print(var1.lower())

kashi bhattari is successfull person
Kashi Bhattari Is Successfull Person
KASHI BHATTARI IS SUCCESSFULL PERSON
kashi bhattari is successfull person

In [22]:
first_name = "kashi"
last_name = "bhattarai"
full_name = f"{first_name} {last_name}"
print(full_name)
print(f"Hello, {full_name.title()}!")
full_name = "{} {} ".format(first_name, last_name)

kashi bhattarai
Hello, Kashi Bhattarai!

In [29]:
pratham = "harka"
bitch = "badhur"
aantim = "tamang"
pura = f"{pratham} {bitch} {aantim}"
print(pura.title())
print(pura.upper())
print(pura.lower())

Harka Badhur Tamang
HARKA BADHUR TAMANG
harka badhur tamang

In [30]:
print("python")
print("\tpython")

python
	python

In [31]:
print("Language:\nPython\nC\nJavaScript")

Language:
Python
C
JavaScript

In [35]:
# to check extra whitespace in right side of python code use rstrip
favourite_language = "python "
favourite_language

'python '

In [36]:
favourite_language.rstrip()

'python'

In [41]:
favourite_language = ' java'
favourite_language.lstrip()

'java'

In [42]:
favourite_language.strip()

'java'

In [48]:
message = "one of the python's comunity is its diverse community ."
print(message)

one of the python's comunity is its diverse community .

In [54]:
2 + 3

5

In [55]:
3-2

1

In [56]:
3/2

1.5

In [57]:
10**6

1000000

In [58]:
2 + 3*4

14

In [69]:
# __underscore in number , python prints only the digits__
universal_age = 14_000_000_000
print(universal_age)

14000000000

In [70]:
x, y,z = 0,0,0

In [71]:
max_connections = 5000

In [72]:
print(5+3)

8

In [74]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [76]:
# introducing list
# A list is the collection of items in a particular order.You can make
# a list that include the lettters of the alphabet, the digits from 0-9
# or the names of all the people in your family.You can put anything you
# want into a list and the items in your list don't have to be related in any particular way.

In [77]:
bicycles = ['treck','cannondale','redline','specialize']
print(bicycles)

['treck', 'cannondale', 'redline', 'specialize']

In [78]:
# accessing elements in a list
print(bicycles[0])

treck

In [79]:
print(bicycles[0].title())

Treck

In [85]:
print(bicycles[1].title())
print(bicycles[3].title())
print(bicycles[-2].title())

Cannondale
Specialize
Redline

In [101]:
message = f"My first bicycle was a {bicycles[0].title()}"
print(message)

My first bicycle was a Treck

In [146]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [147]:
motorcycles[0] = 'ducakt'
print(motorcycles)

['ducakt', 'yamaha', 'suzuki']

In [148]:
motor=[]
motor.append('honda')
motor.append('suzuki')
motor.append('yamaha')
print(motor)

['honda', 'suzuki', 'yamaha']

In [149]:
motor.insert(0,'ducati')
print(motor)

['ducati', 'honda', 'suzuki', 'yamaha']

In [150]:
motor.insert(4,'tvs')
print(motor)

['ducati', 'honda', 'suzuki', 'yamaha', 'tvs']

In [151]:
del(motor[4])
print(motor)

['ducati', 'honda', 'suzuki', 'yamaha']

In [152]:
print(motor.pop(1))

honda

In [153]:
print(motor)

['ducati', 'suzuki', 'yamaha']

In [155]:
# print(f"the last motor i owned was a{ motor.title()}")

In [166]:
motorcycle = ['honda','yamaha','suzuki','ducati']
print(motorcycle)

['honda', 'yamaha', 'suzuki', 'ducati']

In [164]:
motorcycle.remove('ducati')
print(motorcycle)

['honda', 'yamaha', 'suzuki']

In [167]:
too_expensive='ducati'
motorcycle.remove(too_expensive)
print(motorcycle)

['honda', 'yamaha', 'suzuki']

In [170]:
print(f"\nA {too_expensive.title()} is too expensive for me.")

A Ducati is too expensive for me.

In [18]:
dinner =[]
dinner.insert(0, 'hari')

In [19]:
dinner.insert(1,'binod')
dinner.insert(2,'dinesh')

In [20]:
print(dinner)

['hari', 'binod', 'dinesh']

In [22]:
invited_1 = 'binod'
print(f"\n you are wellcom {invited_1.title()}in my home")

 you are wellcom Binodin my home

In [26]:
invited_2 ='dinesh'
print(f"\n i am sorry you are not wellcome {invited_2.title()} in my home")

 i am sorry you are not wellcome Dinesh in my home

In [27]:
invited_3 ='nesh'
print(f"\n i am sorry you are not wellcome {invited_3.title()} in my home")

 i am sorry you are not wellcome Nesh in my home

In [31]:
# organizing the list
cars = ['bmw','audi','toyota','subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [32]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [33]:
print("Here is the orginal list:")
print(cars)

Here is the orginal list:
['toyota', 'subaru', 'bmw', 'audi']

In [40]:
print("here is the orginal list with sorted order:")
print(sorted(cars))

here is the orginal list with sorted order:
['audi', 'bmw', 'subaru', 'toyota']

In [41]:
print("here is the reversed list")
cars.reverse()
print(cars)

here is the reversed list
['toyota', 'subaru', 'bmw', 'audi']

In [42]:
# finding length of the list
len(cars)

4

In [45]:
places =['pokhara','dolpa','upper_mustang','goa']
print(places)
places.sort()
print(places)

['pokhara', 'dolpa', 'upper_mustang', 'goa']
['dolpa', 'goa', 'pokhara', 'upper_mustang']

In [44]:
places.sort(reverse=True)
print(places)

['upper_mustang', 'pokhara', 'goa', 'dolpa']

In [46]:
len(places)

4

In [50]:
# avoding_indexing_error in python
motorcycle =['honda','yamaha','suzuki']
print(motorcycle[3])

IndexError: list index out of range

In [51]:
print(motorcycle[-1])

suzuki

In [53]:
# looping through the list
magicians = ['kashi','madhur','dhairaj']
for magician in magicians:
    print(magician)

kashi
madhur
dhairaj

In [56]:
print(magician)

dhairaj

In [57]:
magicians = ['kashi','madhur','dhairaj']
for magician in magicians:
    print(f"{magician.title()}, that was a greate trick")

Kashi, that was a greate trick
Madhur, that was a greate trick
Dhairaj, that was a greate trick

In [66]:
ternaypoish = ['diraj-1200','manoj-1400','binod-1800']
for ternaypoishaa in ternaypoish:
    print(f"{ternaypoishaa.title()}, is  remaining due to pay")

Diraj-1200, is  remaining due to pay
Manoj-1400, is  remaining due to pay
Binod-1800, is  remaining due to pay

In [69]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()},that was great trick")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice,that was great trick
I can't wait to see your next trick, Alice.

David,that was great trick
I can't wait to see your next trick, David.

Carolina,that was great trick
I can't wait to see your next trick, Carolina.

In [71]:
developers = ['kashi','ashok','bken']
for developer in developers:
    print(f"{developer.title()}, Wellcome in developer circle")
    print(f" i lovey your coding style, {developer.title()}\n")

Kashi, Wellcome in developer circle
 i lovey your coding style, Kashi

Ashok, Wellcome in developer circle
 i lovey your coding style, Ashok

Bken, Wellcome in developer circle
 i lovey your coding style, Bken

In [77]:
dues_persons = ['rakesh-1200-3_months', 'mathur-1400-4-months', 'binod-1700-5-months']
for dues_person in dues_persons:
    print(f"{dues_person.title()}, Dir sir please clear our due amount in time")
    print(f"we may charge you fine if you don't pay in time {dues_person.title()}\n")

Rakesh-1200-3_Months, Dir sir please clear our due amount in time
we may charge you fine if you don't pay in time Rakesh-1200-3_Months

Mathur-1400-4-Months, Dir sir please clear our due amount in time
we may charge you fine if you don't pay in time Mathur-1400-4-Months

Binod-1700-5-Months, Dir sir please clear our due amount in time
we may charge you fine if you don't pay in time Binod-1700-5-Months

In [78]:
# making numerical lists
for value in range(1,5):
    print(value)

1
2
3
4

In [84]:
# using range() to make list of number
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [89]:
# skip particular number using range
numb = list(range(2,11,2))
print(numb)

[2, 4, 6, 8, 10]

In [91]:
# squares
squares = []
for value in range(1, 11):
    square = value **2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
tris=[]
for value in range(1,10):
    tri = value **3
    tris.append(tri)
print(tris)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [94]:
kashi = []
for value in range(2,11):
    ka = value**2
    kashi.append(ka)
print(kashi)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# static list of number
digits = [1,2,3,4,5,6,7,8,9,0]
max(digits)

9

In [7]:
sum(digits)

45

In [11]:
# list comprehensions
squares = [value**2 for  value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
number = [value for value in range(1,21)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
# working with part of list
# slicing the list

palyers = ['kashi','diplip','florence','eli','tirtha']
print(palyers)

['kashi', 'diplip', 'florence', 'eli', 'tirtha']

In [19]:
print(palyers[1:4])

['diplip', 'florence', 'eli']

In [20]:
print(palyers[:4])

['kashi', 'diplip', 'florence', 'eli']

In [21]:
print(palyers[2:])

['florence', 'eli', 'tirtha']

In [22]:
print(palyers[:-3])

['kashi', 'diplip']

In [23]:
# looping through slice
players = ['charli','martina','michael','florence','eli']

print("here is the list of all playerson my team:")
for player in players[:3]:
    print(player.title())

here is the list of all playerson my team:
Charli
Martina
Michael

In [25]:
# copying the list
my_foods = ['pizza','falafe','carrot_cake']
friend_food = my_foods[:]
print("My favorite food are:")
print(my_foods)

print("my friend favorite food are::")
print(friend_food)

My favorite food are:
['pizza', 'falafe', 'carrot_cake']
my friend favorite food are::
['pizza', 'falafe', 'carrot_cake']

In [30]:
fav_sport = ['football','boxing','coding']
ashok_fav = fav_sport[:]
fav_sport.append("development")
print("fav sport of kashi are:")
print(fav_sport)

print("fav sport of ashok are:")
print(ashok_fav)

fav sport of kashi are:
['football', 'boxing', 'coding', 'development']
fav sport of ashok are:
['football', 'boxing', 'coding']

In [2]:
# tuple
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])
# print(dimensions[0])

200
50
200

In [5]:
my_t =(3,)

In [1]:
# writing over the tuples

dimensions = (200,50)
print("orginal dimension:")
for dimension in dimensions:
    print(dimension)

orginal dimension:
200
50